.footer {
  width: 100%;
  padding: 50px;
  text-align: center;
  background: var(--card-bg);
  border-top: 1px solid var(--border-color);
}

.footer p:nth-child(1) {
  width: fit-content;
  margin: 0 auto;
}

.footer p:nth-of-type(2) {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

@media (max-width: 768px) {
  .footer {
    padding: 30px 15px;
  }

  .footer p:nth-child(1) {
    transform: translate(0);
    font-size: 18px;
  }

  .social-icons {
    transform: translate(0);
  }

  .tech:hover,
  .contact-cards .contact-card:first-child:hover,
  .container:hover,
  .social-icons:hover,
  #home .left .image:hover,
  #home .buttons button:hover{
    transform: translate(0) scale(1.05);
  }
}